<div>


<%= form_tag("searches/index") do %>
  
  <%= text_field_tag("input") %>
  <%= submit_tag("Enter") %>

<% end %>


<br><br>

<%# @dict.each do |d| %>
<%#= d %>
<%# end %>
<%#= @dict.inspect %>

<%# if @flag %>
  
  <!--h1>Match Found!</h1><br><br-->

  <%#= @match %>

<%# end %>
<%= notice %>

</div>